body,
html {
  font-family: "Poppins", sans-serif;
}
section {
  margin-top: 40px;
}

.mt-before:before {
  display: block;
  content: " ";
  height: 120px;
  margin: -120px 0 0;
}
main.container {
  margin-top: 60px;
}
.section-title {
  font-size: 38px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  position: relative;
  letter-spacing: 6px;
  word-spacing: 5px;
  margin-bottom: 30px;
}
.section-title span {
  color: var(--text-active);
}

/*=== HEADER ===*/
#navbar-top {
  width: 100%;
  background: transparent;
  transition: background ease-in 0.5s;
}

.fixed-top {
  background: #f8f9fa !important;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s;
}

#navbar-top .navbar-collapse {
  width: auto;
}

#navbar-top .nav-link {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
  text-shadow: 1px 1px 1px #fff;
  border-bottom: solid 4px transparent;
}

#navbar-top .nav-link:hover {
  border-bottom: solid 4px rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

/*=== Slider  ===*/
.slider {
  margin-top: -95px;
}

.slider .item {
  height: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

.slider .slide1 {
  background-image: url("../img/slide/1.png");
}
.slider .slide2 {
  background-image: url("../img/slide/2.png");
}
.slider .slide3 {
  background-image: url("../img/slide/4.png");
}

.slider .caption {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.slider .caption .title {
  background: rgba(255, 255, 255, 0.4);
  font-size: 60px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}

.slider .caption .desc {
  font-size: 35px;
  font-weight: 300;
  margin: 20px 0 10px;
  color: #fff;
}

.slider .owl-dots {
  position: absolute;
  z-index: 100;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
}

.slider .owl-dots button.owl-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0px 3px;
  outline: none;
}

.slider .owl-dots button.owl-dot .active {
  background: #fff;
}

.slider .owl-carousel .owl-nav button.owl-prev,
.slider .owl-carousel .owl-nav button.owl-next {
  width: 30px;
  height: 30px;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  position: absolute;
  text-indent: -60px;

  top: 50%;

  overflow: hidden;
  outline: none;
  opacity: 0.5;
  transition: all ease 0.5s;
}

.slider .owl-carousel .owl-nav button.owl-prev {
  left: 10px;
  transform: translateY(-50%) rotate(45deg);
}

.slider .owl-carousel .owl-nav button.owl-next {
  right: 10px;
  transform: translateY(-50%) rotate(-135deg);
}

.slider .owl-carousel:hover .owl-nav button.owl-prev {
  left: 30px;
}
.slider .owl-carousel:hover .owl-nav button.owl-next {
  right: 30px;
}

/*=== WELLCOME ===*/
#wellcome {
  background-image: url("../img/fundo-de-formas.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 0;
}

/*=== SERVICES ===*/

#services #album-fotos {
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

#services #album-fotos .item-galeria {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 8px;
  border: 3px solid #fff;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in;
  background-position: 50% 50%;
  background-size: 400px 400px;
}

#services #album-fotos .item-galeria span {
  opacity: 0;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 12pt;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#services #album-fotos .item-galeria:hover {
  transform: scale(1.1);
  z-index: 1;
}

#services #album-fotos .item-galeria:hover span {
  opacity: 1;
}

#services #album-fotos .item-galeria:hover {
  background-position: 0px 0px;
  background-size: 300px 300px;
}

#services #album-fotos .item-galeria.foto-1 {
  background: url("../img/services/residencial.png") no-repeat;
}
#services #album-fotos .item-galeria.foto-2 {
  background: url("../img/services/corporativa.png") no-repeat;
}
#services #album-fotos .item-galeria.foto-3 {
  background: url("../img/services/hospitalar.png") no-repeat;
}
#services #album-fotos .item-galeria.foto-4 {
  background: url("../img/services/protecao-incendio.png") no-repeat;
}
#services #album-fotos .item-galeria.foto-5 {
  background: url("../img/services/interiores.png") no-repeat;
}
#services #album-fotos .item-galeria.foto-6 {
  background: url("../img/services/paisagismo.png") no-repeat;
}

/*=== ABOUT ===*/

section p {
  font-family: "Didact Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
  color: #777;
  margin-bottom: 10px;
}

.div-row {
  display: flex;
  flex-direction: row;
}
#about-img {
}
figure.img {
  padding: 0 15px 30px 30px;
  position: relative;
}

.img-legend {
  padding: 20px 15px;
  color: #272727;
  position: absolute;
  bottom: 0;
  z-index: 1;
  right: 45px;
  width: 70% !important;
  background: #f4f4f4;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 13px;
  line-height: 1.5em;
  text-align: center;
}

/*=== PROJECTS ===*/
#projects {
}

.media-custom {
  background-color: #fff;
  transition: 0.3s all ease;
  margin-bottom: 30px;
  position: relative;
  top: 0;
}
.media-custom .card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.media-custom img {
  transition: 0.3s all ease;
}
.media-custom .card .card-body {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: #fff;
}

.media-custom:focus,
.media-custom:hover {
  top: -2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.media-custom:focus img,
.media-custom:hover img {
  transform: scale(1.1);
}

/*=== CONTACT ===*/

#contact {
  background: rgba(0, 0, 0, 0.7);
  background-image: url("../img/about.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}
#contact h1,
#contact p {
  color: #fff;
}
#contact .row {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

#contact p {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 40px;
}

.head {
  background-image: url("../img/fundo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-top: -40px;
  box-shadow: 0px 7px 15px 5px #1952b0;
  /*box-shadow: -2px 14px 27px 9px rgba(124, 84, 35, 0.62);*/
}
.input-container {
  position: relative;
}

.input-container .form-label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #9d9d9d;
  position: absolute;
  line-height: 20px;
  top: 10px;
  left: 20px;
  user-select: none;
  pointer-events: none;
  transition: 0.5s;
}

.input-container .form-type {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#contact .form-control:focus {
  color: #212529;
  background-color: #ced4da;
  border-color: #ced4da;
  outline: 0;
  box-shadow: 3px 0px 17px 6px rgba(0, 0, 0, 0.7);
}

#contact .form-control:focus ~ .form-label,
#contact .form-control:valid ~ .form-label {
  left: 8px;
  top: -8px;
  color: var(--text);
}

#contact .form-control[type="submit"] {
  width: 140px;
  margin-left: 40%;
}
