/* MIN WIDTH */
@media (min-width: 992px) {
  #navbar-top .nav-link {
    margin: 0 15px;
  }
}

/* MAX MEDIUM */
@media (max-width: 991.98px) {
  #navbar-top .navbar-collapse {
    width: 100%;
  }
  .nav-item {
    align-items: center;
  }

  .div-row {
    flex-direction: column;
  }

  .slider {
    margin-top: 0;
  }

  #contact {
    height: 100%;
  }

  .form-content {
    width: 100%;
  }
}
