/* MIN WIDTH */
@media (min-width: 992px) {
  #navbar-top .nav-link {
    margin: 0 15px;
  }
}

/* MAX MEDIUM */
@media (max-width: 991.98px) {
  #navbar-top .navbar-collapse {
    width: 100%;
  }
  .nav-item {
    align-items: center;
  }
  .section-title {
    font-size: 24px;
    letter-spacing: 3px;
    word-spacing: 3px;
    margin-bottom: 20px;
  }

  /*SLIDER INICIAL*/
  .slider .caption {
    left: 0;
    transform: none;
  }
  .slider .caption .title {
    font-size: 40px;
    padding: 10px;
  }
  .slider .caption .desc {
    opacity: 0;
  }

  .div-row {
    flex-direction: column;
  }

  .slider {
    margin-top: 0;
  }
  /*SERVICES*/

  #services #album-fotos {
    padding: 20px;
  }
  #services #album-fotos .item-galeria span {
    opacity: 1;
  }

  /*CONTACT*/
  #contact {
    height: 100%;
  }
  #contact .row {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
  #contact .form-control[type="submit"] {
    width: 200px;
    margin-left: 20%;
  }

  .head .section-title {
    font-size: 22px;
    letter-spacing: 4px;
    word-spacing: 3px;
    margin-bottom: 15px;
  }
  .head .section-subtitle {
    font-size: 14px;
  }

  .form-content {
    width: 100%;
  }
}
